# PHP 2022

## 5. PHP Data Objects

### 5.2 PDO

#### MySQL

Starting the databse server:

In [1]:
echo shell_exec("docker run --name=mysql --net=host --rm --env MYSQL_ROOT_PASSWORD=root123 --env MYSQL_DATABASE=test --env MYSQL_USER=test --env MYSQL_PASSWORD=test123 -d mysql/mysql-server:8.0");

In [2]:
echo shell_exec("while ! timeout 1 bash -c 'echo > /dev/tcp/localhost/3306' 2> /dev/null; do sleep 1; done; echo 'Done.'");

Done.

Connect to the database:

In [3]:
$pdo = new PDO("mysql:host=127.0.0.1;port=3306;dbname=test", "test", "test123");

PDO::__set_state(array(
))

Set error mode to exceptions:

In [4]:
$pdo->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);

true

Create the test table if it does not exist:

In [5]:
$pdo->exec("CREATE TABLE IF NOT EXISTS test (`id` INT PRIMARY KEY, `value` TEXT)");

0

Delete all rows:

In [6]:
$pdo->exec("DELETE FROM test");

0

Insert some data:

In [7]:
$statement = $pdo->prepare("INSERT INTO test VALUES (:id, :data)");

PDOStatement::__set_state(array(
   'queryString' => 'INSERT INTO test VALUES (:id, :data)',
))

In [8]:
$statement->bindValue('id', 20);
$statement->bindValue('data', "XXX");
$statement->execute();

true

In [9]:
$statement->bindValue('id', 30);
$statement->bindValue('data', "YYY");
$statement->execute();

true

Select data from database:

In [10]:
$query = $pdo->query("SELECT * FROM test");
$query->fetchAll();

array (
  0 =>
  array (
    'id' => 20,
    0 => 20,
    'value' => 'XXX',
    1 => 'XXX',
  ),
  1 =>
  array (
    'id' => 30,
    0 => 30,
    'value' => 'YYY',
    1 => 'YYY',
  ),
)

Select data from database as associative table:

In [11]:
$query = $pdo->query("SELECT * FROM test");
$query->fetchAll(PDO::FETCH_ASSOC);

array (
  0 =>
  array (
    'id' => 20,
    'value' => 'XXX',
  ),
  1 =>
  array (
    'id' => 30,
    'value' => 'YYY',
  ),
)

Select data from database as objects:

In [12]:
$query = $pdo->query("SELECT * FROM test");
$query->fetchAll(PDO::FETCH_OBJ);

array (
  0 =>
  (object) array(
     'id' => 20,
     'value' => 'XXX',
  ),
  1 =>
  (object) array(
     'id' => 30,
     'value' => 'YYY',
  ),
)

Select data from database as table:

In [13]:
$query = $pdo->query("SELECT * FROM test");
$query->fetchAll(PDO::FETCH_NUM);

array (
  0 =>
  array (
    0 => 20,
    1 => 'XXX',
  ),
  1 =>
  array (
    0 => 30,
    1 => 'YYY',
  ),
)

Select data from database as table with both numeric and assciative keys:

In [ ]:
$query = $pdo->query("SELECT * FROM test");
$query->fetchAll(PDO::FETCH_BOTH);

Select data from database as objects of specific type:

In [ ]:
class Test {
    public $id;
    public $value;
}
$query = $pdo->query("SELECT * FROM test");
$query->fetchAll(PDO::FETCH_CLASS, Test::class);

Stop the database server:

In [ ]:
echo shell_exec("docker container stop mysql");

### SQLite

In [21]:
$pdo = new PDO("sqlite:/tmp/sqlite.db");

PDO::__set_state(array(
))

In [22]:
$pdo->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);

true

In [23]:
$pdo->exec("CREATE TABLE IF NOT EXISTS test (id INTEGER PRIMARY KEY, data TEXT NOT NULL)");

0

In [24]:
$pdo->exec("DELETE FROM test");

0

In [25]:
$statement = $pdo->prepare("INSERT INTO test VALUES (:id, :data)");
$statement->bindValue('id', 20);
$statement->bindValue('data', "XXX");
$statement->execute();

true

In [26]:
$query = $pdo->query("SELECT * FROM test");
$query->fetchAll();

array (
  0 =>
  array (
    'id' => 20,
    0 => 20,
    'data' => 'XXX',
    1 => 'XXX',
  ),
)

In [27]:
$query = $pdo->query("SELECT * FROM test");
$query->fetchAll(PDO::FETCH_NUM);

array (
  0 =>
  array (
    0 => 20,
    1 => 'XXX',
  ),
)

In [28]:
echo shell_exec("rm -f /tmp/sqlite.db");